.idea
.run
.vscode
src/resc_backend.egg-info
build
**/__pycache__/
.coverage
.tox/
venv
.venv
*.log
*.sqlite
self_signed_cert_generation/client
self_signed_cert_generation/server
self_signed_cert_generation/testca
*.old
rootfs/*
!rootfs/.gitkeep

# Mac
.DS_Store

# tests
coverage.xml

# Newman tests
tests/newman_tests/gitleaks.toml

# env
*.env